<%# Unit 4, Assignment 4, Task 3 %>
<% if (title) {%>
<h1>
    <%= title %>
</h1>
<%} else {res.redirect('/')} %>

<%- messages() %>

<% if (errors) { %>
<ul class="message warning">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <%  }) %>
</ul>
<% } %>

<p>Confirm Deletion - The delete is permanent.</p>
<div id="registerContainer">
    <p>All fields are required.</p>
    <form action="/inv/delete" method="post">
        <fieldset>
            <label for="invMake">Make</label>
            <input readonly type="text" name="inv_make" id="invMake" required minlength="3" placeholder="Min of 3 characters" <% if(locals.inv_make) { %> value="<%= locals.inv_make %>" <% } %>>

            <label readonly for="invModel">Model</label>
            <input type="text" name="inv_model" id="invModel" required minlength="3" placeholder="Min of 3 characters" <% if(locals.inv_model) { %> value="<%= locals.inv_model %>" <% } %>>

            
            <label for="invPrice">Price</label>
            <input readonly type="text" name="inv_price" id="invPrice" size="10" placeholder="decimal or integer numbers only" required pattern="^[1-9]\d*(\.\d+)?$" <% if(locals.inv_price) { %> value="<%= locals.inv_price %>" <% } %>>

            <label readonly for="invYear">Year</label>
            <input type="text" name="inv_year" id="invYear" size="10" placeholder="4-digit year" required minlength="4" maxlength="4" pattern="^(19|20)\d{2}$" <% if(locals.inv_year) { %> value="<%= locals.inv_year %>" <% } %>>

            <button type="submit" disabled>Delete Vehicle</button>
            <input type="hidden" name="inv_id"
        <% if (locals.inv_id) { %> value="<%= locals.inv_id %>"
        <% } %>>
    </form>
</div>